logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
.idea/
/public/
migrations/
config/manifest.json
config/buildConfig.json
run/
.DS_Store
*.sw*
*.un~
.cache/
config.local.yml
