logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
/public/
migrations/
config/config.local.js
config/manifest.json
config/buildConfig.json
run/
.DS_Store
*.sw*
*.un~
.cache/
dist/
